<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/estilo.css" type="text/css"  rel="stylesheet">
    <title>Agência Art Emporium</title>
</head>
<body>
    <header>
        
        <nav>
        <a class ="logo" href="Agência Art Emporium.html"><img class ="logo" src="Logo Art Emporium.jpeg" alt="logo" width= "100vh" ></a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class= "nav-list">
                <li><a href="Agência Art Emporium.html">Home</a></li>
                <li><a href="quem somos.html">Quem Somos</a></li>
                <li><a href="Portfólio.html">Portfólio</a></li>
                <li><a href="#vincular-serviços">Serviços</a>
                <li><a href="Contato.html">Contato</a></li>
            </ul>
        </nav>

    </header>
    <div class="home-frase">  <br> <br> <br> 
        <br> <br> <br> <p class="letrasfrases">SOLUÇÕES</p> <h2 class="letrasfrases">OBJETIVAS E INTELIGENTES</h2><br>
       <p class="letrasfrases">Maximize os resultados da sua marca</p>
</div>
<div id="vincular-serviços">
    <div class="serviços">
    <br><br>
    <div class="titulo-serviços"><p><center>AGÊNCIA COM FOCO NO </center></p><h3><center><br>MARKETING DIGITAL</center></h3></div><br><br><br>
    <div class="centralizar-tudo">
        
        <div class="serviçosmodelo">
            <ul>
                <li><a style= "text-decoration:none; color: black;"  href="Criação de Sites.html"><center><strong><img class="min-image" src="logo pc.png" height="70px"><br><div style="margin-top: 10px;">Criação de Sites</div></strong></center><br><div class="arrumar-centro" style="margin-top: -18px;" >Sites profissionais e personalizáveis</div></a></li>
                <br><br><br>
                <li><a style= "text-decoration:none; color: black;" href="Lojas virtuais.html"><center><img class="min-image" src="logo de carrinho-preto.png" height="80px"><br><strong>Lojas Virtuais</strong></center><br><div class="arrumar-centro" style="margin-top:-20px ;">Potencialize o seu e-commerce com uma loja online</div></a></li>
            
            </ul>
        
            <ul>
                <li><a style= "text-decoration:none; color: black;" href="Campanhas De Marketing Digital.html"><div class="auto-falante-lado"><img class="min-image" src="auto falante.png" height="70px" style="margin-left: 10vh"></div><br><strong><div  class="arrumar-centro" style="margin-top: 10px;">Campanhas de Marketing Digital</strong><br><div class="arrumar-centro">Campanhas de Marketig Digital<br>integradas, para aumentar suas vendas</div></a></div></li>
                <br><br><br>
                <li><a style= "text-decoration:none; color: black;" href="Design Gráfico.html"><center><img class="min-image" src="design grafico logo.png" height="90px"><br><strong>Design Gráfico</strong></center><br><div class="arrumar-centro" style="margin-top: -20px;"> comunicação visual é a identidade da sua marca</div></a></li>
            </ul>
        </div>
    
    </div>
   <br><br><br><br><br><br>
</div>
<div  id="homePortfólio">
    <img class="gif-portfólio" src="gif portfólio.gif" alt="ilustração" height="350">

    <div id="background-cor">
        <br><br><br>
        <p class = "portfólio-ajuste" style=" font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">NOSSO<br><strong>PORTFÓLIO</strong></p>
        <div  class="botão-portfólio-ajuste"><a href="Portfólio.html"><button style="background: #6ACAD7; margin: 85px; border-radius: 6px; padding: 15px; cursor: pointer; color: #fff; border: none; font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"><strong>CONHEÇA</button></a></div>
    </div>
</div><br>
<p class="nossosClientes"><br>NOSSOS<br><strong>CLIENTES</strong></p>
<div id="clientes">
    <img class="ajuste-logo-clientes" src="logo1.png" height="110px"> <img class="ajuste-logo-clientes" src="logo3.png" height="105px"> <img class="ajuste-logo-clientes" src="logo2.png" height="105px"> <img class="ajuste-logo-clientes" src="logo5.jpg"height="100px"><img class="ajuste-logo-clientes" src="logo4.png"height="105px"> <img class="ajuste-logo-clientes" src="logo6.png" height="125"> 
<br><br><br><br><br>
</div>
<form>
    <div class="contato">
        <p>Entre em contato, tire suas dúvidas e solicite um orçamento!</p><br><br><br><br>
        <div class="contato-lado">
            <div>
                <label> NOME </label><br>
                <input type="text" name="nome"  id="nome"><br><br>
            </div>
                <div>
                    <label> TELEFONE</label><br>
                    <input type="tel" name="telefone"  id="telefone"><br><br>
                </div>
            </div>
            <div class="contato-lado">
                <div>
                    <label>E-MAIL</label><br>
                    <input type= "tel" name="email"  id="email"><br><br>
                </div>
                <div>
                    <label> ASSUNTO</label><br>
                    <input type="text" name="assunto"  id="assunto"><br><br>
                    
                </div>
             </div>
                <div class = "mensagem-contato-responsivo">
                    <label>MENSAGEM</label><br>
                    <textarea class="mensagem-contato" name= “mensagem” rows= “3” cols= “40”> </textarea><br>

                    <div class="botão">
                        <br>
                        <button>ENVIAR</button>
                    </div>
                    
                    <div class="informações">
                        <p><img src="Logo - loc.png" style="width: 40px;"> CÉSAR LATTES, 700 BARRA DA TIJUCA,<br> RIO DE JANEIRO - RJ<br>CEP 22793-329</p> <br><br><br><p><img src="logo-whats.png" style="width: 40px; text-align: right;">+ 55 82 3477 - 8122 (CEL/WHATSAPP)</p><br><br><p><img src="logo email.png" style="height: 20px;"> CONTATO@AGENCIAARTEMPORIUM.COM.BR</p>
                    </div>
                </div>

           
            <br>
            </div>
    </div>
</form>
<p class="politica"><strong>AGENCIA ART EMPORIUM | TODOS OS DIREITOS RESERVADOS <br> POLÍTICA DE PRIVACIDADE</strong></p>
    <script src="mobile-navbar.js"></script>
</body>
</html>