<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Agência Art Emporium - Portfólio</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato: 100,300,400,700|Luckiest+Guy|Oxygen:300,400" rel="stylesheet">
    <link href="sty.css" type="text/css"  rel="stylesheet">
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
</head>
<body>
    <header>
        
        <nav>
			<a class ="logo" href="Agência Art Emporium.html"><img class ="logo" src="Logo Art Emporium.jpeg" alt="logo" width= "100vh"></a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class= "nav-list">
                <li><a href="Agência Art Emporium.html">Home</a></li>
                <li><a href="quem somos.html">Quem Somos</a></li>
                <li><a href="Portfólio.html">Portfólio</a></li>
                <li><a href="Agência Art Emporium.html #vincular-serviços">Serviços</a>
                <li><a href="Contato.html">Contato</a></li>
            </ul>
        </nav>

    </header>
    <br><br>
    <div class="camp-foto">
        <br><br><br><br><br><br><br><br>
       
    </div>   
    
    <div class="t4">
      <br><br><br>
      <b><h2 style="color: #fff;">Cliente:<a href="#" style="color: #fff;">
      <br>Agência Strategea</a></h2></b>
      <p><img src="" height="250px"></p>
    </div>
    <br><br>
    <h2>Campanhas de Marketing Digital</h2>
    <br>
    <div class="Design-Texto">
        <p>
            Quando um seguidor entra no perfil de uma empresa nas redes sociais, ele vê todo o conjunto de imagens e conteúdo. Os dois pontos precisam “conversar” entre si e transparecer o propósito da marca e toda a sua atmosfera (identidade, tom de voz, cores, elementos, imagens).
            <br><br>
            Para a agência Strategea definimos uma estratégia de conteúdo e adequação de atmosfera da marca ao ambiente físico, equalizando sua comunicação visual e verbal.
            <br><br><br>
            
    </div>
    <div class="port">
        <img src="Agência moonlight (1).png"   height: "800px" width="500" >
        <img src="logo4.png"   height: "800px" width="500">
        <br><br><br>
    </div> 
    <div class="Design-Texto">
     <p><strong>Precisando reforçar a sua marca?</strong>
        <br><br>
        <a href="Contato.html" style="color: black;">CONVERSE COM UM DE NOSSOS ESPECIALISTAS!</a>
      </p>
    </div>
    <div class="portfolio">
     <br><br><br>
     <p> <img src="logo de carrinho.png" height="100px"><strong>CONHEÇA MAIS EM</strong><a href="Portfólio.html" style="color: #fff;"> NOSSO PORTFÓLIO</a></p>
    </div> 

    <script src="mobile-navbar.js"></script>
    <script src="script"></script>
                
    </nav>
    <form>
        <div class="contato">
            <p>Entre em contato, tire suas dúvidas e solicite um orçamento!</p><br><br><br><br>
            <div class="contato-lado">
                <div>
                    <label> NOME </label><br>
                    <input type="text" name="nome"  id="nome"><br><br>
                </div>
                    <div>
                        <label> TELEFONE</label><br>
                        <input type="tel" name="telefone"  id="telefone"><br><br>
                    </div>
                </div>
                <div class="contato-lado">
                    <div>
                        <label>E-MAIL</label><br>
                        <input type= "tel" name="email"  id="email"><br><br>
                    </div>
                    <div>
                        <label> ASSUNTO</label><br>
                        <input type="text" name="assunto"  id="assunto"><br><br>
                        
                    </div>
                 </div>
                    <div class = "mensagem-contato-responsivo">
                        <label>MENSAGEM</label><br>
                        <textarea class="mensagem-contato" name= “mensagem” rows= “3” cols= “40”> </textarea><br>
    
                        <div class="botão">
                            <br>
                            <button>ENVIAR</button>
                        </div>
                        
                        <div class="informações">
                            <p><img src="Logo - localização.png" style="width: 40px;"> CÉSAR LATTES, 700 BARRA DA TIJUCA,<br> RIO DE JANEIRO - RJ<br>CEP 22793-329</p> <br><br><br><p><img src="logo-whats.png" style="width: 40px; text-align: right;">+ 55 82 3477 - 8122 (CEL/WHATSAPP)</p><br><br><p><img src="logo email.png" style="height: 20px;"> CONTATO@AGENCIAARTEMPORIUM.COM.BR</p>
                        </div>
                    </div>
    
               
                <br>
                </div>
        </div>
    </form>
    <p class="politica"><strong>AGENCIA ART EMPORIUM | TODOS OS DIREITOS RESERVADOS <br> POLÍTICA DE PRIVACIDADE</strong></p>
</body>
</html>