<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="estilo.css" type="text/css"  rel="stylesheet">
    <title>Art Emporium - Campanhas De Marketing Digital </title>
</head>
<body>
    <header>
        <nav>
            <a class ="logo" href="Agência Art Emporium.html"><img class ="logo" src="Logo Art Emporium.jpeg" alt="logo" width= "100vh" ></a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class= "nav-list">
                <li><a href="Agência Art Emporium.html">Home</a></li>
                <li><a href="quem somos.html">Quem Somos</a></li>
                <li><a href="#">Portfólio</a></li>
                <li><a href="Agência Art Emporium.html #vincular-serviços">Serviços</a>
                <li><a href="Contato.html">Contato</a></li>
            </ul>
        </nav>

    </header>
    
    <div class="foto-campanhas">
            <br><br><br><br><br><br>
            <p style="letter-spacing: 0px;">ESTRATÉGIA<br></p><h3>DE MARKETING DIGITAL</h3><br><br>
            <div class="mensagem-marketing-ajuste"><p>Campanhas de Marketing Digital integradas, para aumentar suas vendas!</p></div>
        </div>
        <div class="Design-Texto">
            <p>Nossas campanhas de Marketing Digital são desenvolvidas a partir de um plano de ações alinhado aos objetivos do seu negócio e utilizando Crossmedia: diversos canais integrados para impactar seu consumidor no momento certo.
                <br><br>
                Como fazemos Imersão no mercado do seu negócio → Entendemos o comportamento do seu público-alvo → Entendemos seu objetivo → Desenvolvemos campanhas alinhadas, em diversas plataformas, para impactar seu consumidor, gerar vendas e valor à marca!
                <br><br>
                O que oferecemos
                <br><br>Criação de Website ou Loja Virtual<br><br>

                O consumidor atual tem um comportamento diferente em relação à compra, pesquisando os produtos na web antes de adquiri-los. Se você tem um negócio, precisa se adequar a ele!
                Não fique para trás da concorrência: tenha presença online! E um website ou loja virtual é o primeiro passo dentro do Marketing Digital para conquistar esse espaço e novos clientes.
                <br><br>
                Criação de Landing Pages
                <br><br>
                Uma Landing Page é uma página focada em conversão e com poucas opções de navegação, sem menus. Sua estrutura básica é uma oferta (e-book, cupom de desconto...), um formulário com perguntas (para captar informações dos leads) e um call-to-action, sendo ideal para ações especiais da marca.

                Nós te entregamos mais que uma Landing Page: entregamos uma Landing Page que CONVERTE, criada com estratégia e gatilhos mentais!
                <br><br>
                E-mail Marketing
                <br><br>
                Não basta captar potenciais clientes (leads), é preciso nutri-los! E é aí que entra o e-mail marketing dentro de uma estratégia poderosa de Marketing Digital: dispare e-mails com conteúdos relevantes e promocionais, enriqueça o relacionamento com seus clientes e desperte o desejo de realizar a primeira ou novas compras.
                <br><br>
                Gestão de Mídias Sociais
                <br><br>
                As Redes Sociais são o espaço perfeito para posicionar a marca, criar relacionamentos e engajamento. Conteúdos estrategicamente criados, com informações úteis e leves, despertam o interesse no leitor e o direcionam para seu site, blog ou loja virtual, onde você não divide mais a atenção com outras empresas e amigos.
                <br><br>
                Nós vamos além do foco em resultados: focamos também na EXPERIÊNCIA DO CLIENTE.
                Queremos que você venda e encante seus clientes, para vender mais e sempre.
                <br><br>
                Quer fortalecer sua marca e aumentar suas vendas?<br>
                <a href="Contato.html" style="color: black;">CONVERSE COM UM DE NOSSOS ESPECIALISTAS!</a>
            </p>
            <div class="gifs-marketing">
                <img class= "gifs-marketing" src="ilustração marketing.png" height="400px">
                <img class= "gifs-marketing" src="digital-marketing-gif-.gif" height="500px">
            </div>
            
        </div>
        <div class="portfolio">
            <br><br><br>
            <p> <img src="logo de carrinho.png" height="100px"><strong>CONHEÇA MAIS EM</strong><a href="#" style="color: #fff;"> NOSSO PORTFÓLIO</a></p>
        </div> 

        <form>
            <div class="contato">
                <p>Entre em contato, tire suas dúvidas e solicite um orçamento!</p><br><br><br><br>
                <div class="contato-lado">
                    <div>
                        <label> NOME </label><br>
                        <input type="text" name="nome"  id="nome"><br><br>
                    </div>
                        <div>
                            <label> TELEFONE</label><br>
                            <input type="tel" name="telefone"  id="telefone"><br><br>
                        </div>
                    </div>
                    <div class="contato-lado">
                        <div>
                            <label>E-MAIL</label><br>
                            <input type= "tel" name="email"  id="email"><br><br>
                        </div>
                        <div>
                            <label> ASSUNTO</label><br>
                            <input type="text" name="assunto"  id="assunto"><br><br>
                            
                        </div>
                     </div>
                        <div class = "mensagem-contato-responsivo">
                            <label>MENSAGEM</label><br>
                            <textarea class="mensagem-contato" name= “mensagem” rows= “3” cols= “40”> </textarea><br>
        
                            <div class="botão">
                                <br>
                                <button>ENVIAR</button>
                            </div>
                            
                            <div class="informações">
                                <p><img src="Logo - loc.png" style="width: 40px;"> CÉSAR LATTES, 700 BARRA DA TIJUCA,<br> RIO DE JANEIRO - RJ<br>CEP 22793-329</p> <br><br><br><p><img src="logo-whats.png" style="width: 40px; text-align: right;">+ 55 82 3477 - 8122 (CEL/WHATSAPP)</p><br><br><p><img src="logo email.png" style="height: 20px;"> CONTATO@AGENCIAARTEMPORIUM.COM.BR</p>
                            </div>
                        </div>
        
                   
                    <br>
                    </div>
            </div>
        </form>
        <p class="politica"><strong>AGENCIA ART EMPORIUM | TODOS OS DIREITOS RESERVADOS <br> POLÍTICA DE PRIVACIDADE</strong></p>
        <script src="mobile-navbar.js"></script>        
</body>
</html>