<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Agência Art Emporium - Portfólio</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato: 100,300,400,700|Luckiest+Guy|Oxygen:300,400" rel="stylesheet">
    <link href="sty.css" type="text/css"  rel="stylesheet">
	<script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
   
</head>
<body>
    <header>
        
        <nav>
			<a class ="logo" href="Agência Art Emporium.html"><img class ="logo" src="Logo Art Emporium.jpeg" alt="logo" width= "100vh"></a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class= "nav-list">
                <li><a href="Agência Art Emporium.html">Home</a></li>
                <li><a href="quem somos.html">Quem Somos</a></li>
                <li><a href="Portfólio.html">Portfólio</a></li>
                <li><a href="Agência Art Emporium.html #vincular-serviços">Serviços</a>
                <li><a href="Contato.html">Contato</a></li>
            </ul>
        </nav>

    </header>
	
 <!-- Portfólio -->
 <br> <br> <br> 
 
<h1><b><u>PORTFÓLIO</u></b></h1>

 <div id="portfolio-area">
    <div class="img-responsive">
	<div class="container">
	  <div class="row">
		
		<div class="col-md-12 text-center" id="filter-btn-box">
		  <button class="main-btn filter-btn active" id="all-btn">TODOS</button>
		  <button class="main-btn filter-btn" id="dsg-btn"> DESIGN GRÁFICO </button>
		  <button class="main-btn filter-btn" id="camp-btn">CAMPANHAS DE MARKETING DIGITAL </button>
		  <button class="main-btn filter-btn" id="cri-btn">CRIAÇÃO DE SITES</button>
		  <button class="main-btn filter-btn" id="loj-btn">  LOJAS VIRTUAIS</button>
		</div>
		<div class="col-md-4 project-box cri">
		  <a href="file:///C:/Users/clara/OneDrive/Documentos/Autoria%20Web/Projeto/pagina%20_1_oficial/Projeto%20Autoria%20Web/Art%20Emporium/HTML/cria%C3%A7%C3%A3o_de_sites.html">	
					<div class="img-mascara">
						<div class="mascara-texto">
							<h4>Takashi</h4>
							<h5>Criação de Sites</h5>
						</div>
					</div>
				</a>
			    <img src="takashi.png" class="img-responsive" height="350" width="330">
			</div>
		<div class="col-md-4 project-box loj">
          <a href="Loja_virtuais.html">	
					<div class="img-mascara">
						<div class="mascara-texto">
							<h4>saboreie</h4>
							<h5>Lojas Virtuais</h5>
						</div>
					</div>
				</a>
			    <img src="saboreie.png" class="img-responsive" height="350" width="330">
			</div>
		
		<div class="col-md-4 project-box camp">
		  <a href="campanhas_de_marketing_digital.html">	
					<div class="img-mascara" >
						<div class="mascara-texto">
							<h4>Agência Strategea</h4>
							<h5>Campanhas de Marketig Digital</h5>
						</div>
					</div>
				</a>
			    <img src="stra.png" class="img-responsive" height="350" width="330">
			</div>
		<div class="col-md-4 project-box dsg">
			 <a href="design_gráfico.html">
					<div class="img-mascara">
						<div class="mascara-texto">
							<h4>Clara Lima</h4>
							<h5>Design gráfico</h5>
						</div>
					</div>
				</a>
			   <img src="clara.png" class="img-responsive" height="350" width="330">
			</div>
		<div class="col-md-4 project-box cri">
			<a href="mon.html">
				<div class="img-mascara">
					<div class="mascara-texto">
						<h4>MOM CORP</h4>
						<h5>Criação de Sites</h5>
					</div>
				</div>
		  </a>	
		  <img src="logo6.png" class="img-responsive" alt="Projeto 5" height="350" width="330">
		</div>
		<div class="col-md-4 project-box dsg">
			<a href="fabrica.html">
				<div class="img-mascara">
					<div class="mascara-texto">
						<h4>Fábrica de Sabores</h4>
						<h5>Design gráfico</h5>
					</div>
				</div>
		  </a>
		  <img src="logo5.jpg" class="img-responsive" alt="Projeto 6" height="350" width="330">
		</div>
	  </div>
	</div>  
	</div>
  </div>
<!-- fim portifolio -->

<!-- Scripts do projeto -->
<script src="mobile-navbar.js"></script>
<script src="script"></script>
			
</nav>
<form>
    <div class="contato">
        <p>Entre em contato, tire suas dúvidas e solicite um orçamento!</p><br><br><br><br>
        <div class="contato-lado">
            <div>
                <label> NOME </label><br>
                <input type="text" name="nome"  id="nome"><br><br>
            </div>
                <div>
                    <label> TELEFONE</label><br>
                    <input type="tel" name="telefone"  id="telefone"><br><br>
                </div>
            </div>
            <div class="contato-lado">
                <div>
                    <label>E-MAIL</label><br>
                    <input type= "tel" name="email"  id="email"><br><br>
                </div>
                <div>
                    <label> ASSUNTO</label><br>
                    <input type="text" name="assunto"  id="assunto"><br><br>
                    
                </div>
             </div>
                <div class = "mensagem-contato-responsivo">
                    <label>MENSAGEM</label><br>
                    <textarea class="mensagem-contato" name= “mensagem” rows= “3” cols= “40”> </textarea><br>

                    <div class="botão">
                        <br>
                        <button>ENVIAR</button>
                    </div>
                    
                    <div class="informações">
                        <p><img src="Logo - loc.png" style="width: 40px;"> CÉSAR LATTES, 700 BARRA DA TIJUCA,<br> RIO DE JANEIRO - RJ<br>CEP 22793-329</p> <br><br><br><p><img src="logo-whats.png" style="width: 40px; text-align: right;">+ 55 82 3477 - 8122 (CEL/WHATSAPP)</p><br><br><p><img src="logo email.png" style="height: 20px;"> CONTATO@AGENCIAARTEMPORIUM.COM.BR</p>
                    </div>
                </div>

           
            <br>
            </div>
    </div>
</form>
<p class="politica"><strong>AGENCIA ART EMPORIUM | TODOS OS DIREITOS RESERVADOS <br> POLÍTICA DE PRIVACIDADE</strong></p>
</body>
</html>

