<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agência Art Emporium - QUEM SOMOS</title>
    <link href="https://fonts.googleapis.com/css?family=Lato: 100,300,400,700|Luckiest+Guy|Oxygen:300,400" rel="stylesheet">
    <link href="estilo.css" type="text/css"  rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

</head>
<body>
    <header>
        <nav>
            <a class ="logo" href="Agência Art Emporium.html"><img class ="logo" src="Logo Art Emporium.jpeg" alt="logo" width= "100vh" ></a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class= "nav-list">
                <li><a href="Agência Art Emporium.html">Home</a></li>
                <li><a href="quem somos.html">Quem Somos</a></li>
                <li><a href="Portfólio.html">Portfólio</a></li>
                <li><a href="Agência Art Emporium.html #vincular-serviços">Serviços</a>
                <li><a href="Contato.html">Contato</a></li>
            </ul>
        </nav>

    </header>
    <div class="ilustração1-quem-somos">
    </div>
    <div id="mensagemquemsomos">
        <br><br><br><br><br>
        <p> "Hoje o foco deve estar nas pessoas e sua satisfação além da percepção de valores que elas têm da marca.<BR>A construção de um mundo melhor, isso tem que ficar claro!" <br><br><strong> Maycon Saranti, CEO Agência Art Emporium.</strong> <br> <br> <br></p>
    </div>
    <div id="backgroundequipe">
            <h3><br><br>EQUIPE<br>ART EMPORIUM </h3>
            <p class="equipe"><br>Art Emporium é uma uma agência de marketing e comunicação, que nasce com a experiência de mais de uma década de processos aprimorados, oferecendo para o mercado estratégias diferenciadas e inovadoras, que garantem qualidade e resultados para os clientes. Atuamos com o propósito de entender marcas e consumidores, conectando e conversando de maneira simplificada através das plataformas e canais onde tudo acontece. Oferecemos para nossos clientes uma experiência diferenciada, desde o processo de imersão, assando pelo mapeamento,  planejamento, entrega e apresentação dos resultados. A masa tem uma equipe jovem, plugada e ágil, que consegue oferecer soluções e entregar resultados em um cenário que obriga as marcas a se reinventarem e inovarem em tempo recorde.</p>
        <br><br><br><br>
    </div>
        <div id="imagem-final">
        </div>
        <p class="politica"><strong>AGENCIA ART EMPORIUM | TODOS OS DIREITOS RESERVADOS <br> POLÍTICA DE PRIVACIDADE</strong></p>
    </body>
    <script src="mobile-navbar.js"></script>
</body>
</html>