<html>
    <body>
        <form>
            <div class="contato">
                <p>Entre em contato, tire suas dúvidas e solicite um orçamento!</p><br><br><br><br>
                <div class="contato-lado">
                    <div>
                        <label> NOME </label><br>
                        <input type="text" name="nome"  id="nome"><br><br>
                    </div>
                        <div>
                            <label> TELEFONE</label><br>
                            <input type="tel" name="telefone"  id="telefone"><br><br>
                        </div>
                    </div>
                    <div class="contato-lado">
                        <div>
                            <label>E-MAIL</label><br>
                            <input type= "tel" name="email"  id="email"><br><br>
                        </div>
                        <div>
                            <label> ASSUNTO</label><br>
                            <input type="text" name="assunto"  id="assunto"><br><br>
                            
                        </div>
                    </div>
                        <div class = "mensagem-contato-responsivo">
                            <label>MENSAGEM</label><br>
                            <textarea class="mensagem-contato" name= “mensagem” rows= “3” cols= “40”> </textarea><br>

                            <div class="botão">
                                <br>
                                <button>ENVIAR</button>
                            </div>
                            
                            <div class="informações">
                                <p><img src="../static/img/Logo - loc.png" style="width: 40px;"> CÉSAR LATTES, 700 BARRA DA TIJUCA,<br> RIO DE JANEIRO - RJ<br>CEP 22793-329</p> <br><br><br><p><img src="../static/img/logo-whats.png" style="width: 40px; text-align: right;">+ 55 82 3477 - 8122 (CEL/WHATSAPP)</p><br><br><p><img src="../static/img/logo email.png" style="height: 20px;"> CONTATO@AGENCIAARTEMPORIUM.COM.BR</p>
                            </div>
                        </div>

                
                    <br>
                    </div>
            </div>
        </form>
        <p class="politica"><strong>AGENCIA ART EMPORIUM | TODOS OS DIREITOS RESERVADOS <br> POLÍTICA DE PRIVACIDADE</strong></p>
    </body>
</html>